@font-face {
    font-family: "Geist";
    src:
      url("Geist/Geist-SemiBold.otf") format("opentype"),
      url("Geist/Geist-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(75deg, #740000, #000000);
    color: white;
    font-family: "Geist", sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}

a {
    padding: 8px;
}
#socials a img {
  transition: transform 0.3s ease;
}

#socials a:hover img {
  transform: scale(1.2);
}
